.carousel-inner {
    padding: 1em;
}

.card {
    margin: 0 0.5em;
    position: relative;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    transition: transform 0.3s ease;
    border-radius: 10px;
    border: 1px solid white;
    height: 375px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    color: #f2f2f2;
}

.card-body{
    position: absolute;
    bottom: 0;
    width: 100%
}
/* Hover effect for card */
.card:hover {
    transform: translateY(-5px); /* Slight lift effect on hover */
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
@media (min-width: 768px) {
.carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
}
.carousel-inner {
    display: flex;
}
}
.card .img-wrapper {
    padding: 10px;
    object-fit: cover; /* Cover the area without distortion */
    height: 200px; /* Fixed height for image */
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-self: center;
}
.card img {
    max-height: 100%;
}
@media (max-width: 767px) {
.card .img-wrapper {
    height: 17em;
}
}