body{
    height: auto;
}

.hero {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.hero > * {
    position: relative; /* Ensure the text is above the overlay */
    z-index: 2; /* Higher z-index than the overlay */
}

.hero h1 {
    font-size: 4rem;
}
.product-image {
    
    height: 200px;
    object-fit: cover;
}
.product-card {
    margin-bottom: 2rem;
}
