.content-image {
    max-width: 250px; /* Adjust this width as needed */
    height: auto;
    object-fit: cover;
    float: left;
    margin: 5px;
}

.content-title, .content-layout{
    padding: 20px;
}

.square{
    width: fit-content;
}
.body-p{
    text-align: start;
    font-size: 18px;
}
